{% extends 'base.html' %}
{% block content %}

<main class="vh-100 bg-body-tertiary">
	<div class="container m-auto mt-5 row gap-2 justify-content-center">
		<h1 class="d-flex justify-content-center">Checkout</h1>
		<section class="h-100 gradient-custom">
			<div class="container py-2">
				<div class="row d-flex justify-content-center my-4">
					<div class="col-md-8">
						<div class="card mb-4">
							<div class="card-header py-3">
								<h5 class="mb-0"> {{ cart_product_quantity }} items</h5>
							</div>
							<div class="card-body">

								{% for cart in carts %}
								{% for product in products %}
								{% if product.id == cart.product.id %}
								<div class="row">
									<div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
										<!-- Image -->
										<div
											class="bg-image hover-overlay hover-zoom ripple rounded"
											data-mdb-ripple-color="light"
										>
											<img
												src="{{ product.image }}"
												class="w-100"
												alt="Blue Jeans Jacket"
											/>
											<a href="#!">
												<div
													class="mask"
													style="background-color: rgba(251, 251, 251, 0.2)"
												></div>
											</a>
										</div>
										<!-- Image -->
									</div>

									<div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
										<!-- Data -->
										<p><strong>{{ product.title }}</strong></p>
										

										<form
										action="{% url 'cart_product_delete' cart.id %}"
										method="post"
									  >
										{% csrf_token %}
										<button type="submit" class="btn btn-danger">
											<i class="bi bi-trash"></i>
										</button>
									  </form>
										
										<!-- Data -->
									</div>

									<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
										<!-- Quantity -->
										<div class="col-md-3 col-lg-3 col-xl-2 d-flex gap-2">
											<form
											  id="decrement-form"
											  method="POST"
											  action="{% url 'decrement_quantity' cart.id %}"
											>
											  {% csrf_token %}
											  <button
												id="decrement-btn"
												type="submit"
												class="btn btn-secondary"
											  >
												-
											  </button>
											</form>
					  
											<p
											  id="quantity"
											  class="m-0 rounded border border-secondary py-1 px-4 d-flex align-items-center fw-bold"
											>
											  {{ cart.quantity }}
											</p>
					  
											<form
											  id="increment-form"
											  method="POST"
											  action="{% url 'increment_quantity' cart.id %}"
											>
											  {% csrf_token %}
											  <button
												id="increment-btn"
												type="submit"
												class="btn btn-secondary"
											  >
												+
											  </button>
											</form>
										  </div>
										  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 mt-5">
											<h6 class="mb-0">{{ cart.total_price }}$</h6>
										  </div>
										</div>
										
										<!-- Quantity -->

										
									</div>
								</div>
								{% endif %}
								{% endfor %}
								{% endfor %}

								<hr class="my-4" />
								
							</div>
						</div>
						<div class="card mb-4">
							{% load date_filters %}

						<div class="card-body">
							<p><strong>Expected shipping delivery</strong></p>
							<p class="mb-0">
								{% now "d.m.Y" as today %}
								{% with today|date_add:"10" as future_date %}
									{{ today }} - {{ future_date }}
								{% endwith %}
							</p>
						</div>


						</div>
						<div class="card mb-4 mb-lg-0">
							<div class="card-body">
								<p><strong>We accept</strong></p>
								<img
									class="me-2"
									width="45px"
									src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
									alt="Visa"
								/>
								<img
									class="me-2"
									width="45px"
									src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
									alt="American Express"
								/>
								<img
									class="me-2"
									width="45px"
									src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
									alt="Mastercard"
								/>
								<img
									class="me-2"
									width="45px"
									src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
									alt="PayPal acceptance mark"
								/>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card mb-4">
							<div class="card-header py-3">
								<h5 class="mb-0">Summary</h5>
							</div>
							{% for cart in carts %}

							<div class="card-body">
								<ul class="list-group list-group-flush">
									<li
										class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
									>
										Products
										<span>${{ cart.total_price }}</span>
									</li>
									<li
										class="list-group-item d-flex justify-content-between align-items-center px-0"
									>
										Shipping
										<span>$10</span>
									</li>
									<li
										class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
									>
										<div>
											<strong>Total amount</strong>
											<strong>
												<p class="mb-0">(including VAT)</p>
											</strong>
										</div>
										<span><strong>$ {{ cart.total_price|add:"10" }}</strong></span>
									</li>
								</ul>

								<button
									type="button"
									data-mdb-button-init
									data-mdb-ripple-init
									class="btn btn-primary btn-lg btn-block"
								>
									Go to checkout
								</button>
							</div>

							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>

{% endblock content %}
	